/**
 * Created by PhpStorm.
 * User: alan
 * Date: 11/4/14
 * Time: 9:11 PM
 */

.fb_image_formatter {
  padding: 4px;
  display: inline-block;
  border: 1px dotted #999999;
}

.fb_image_formatter_item {
  margin: 4px;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  background-position: center center;
}

.fb_image_formatter_item_title {
  bottom: 0;
  left: 10px;
  display: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  position: absolute;
  text-overflow: ellipsis;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  background-image: url(gradient.png);
}

.fb_image_formatter_item:hover .fb_image_formatter_item_title {
  display: block;
}
